---
import BaseLayout from '../layouts/BaseLayout.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Work from '../components/Work.astro'
import Approach from '../components/Approach.astro'
import Capabilities from '../components/Capabilities.astro'
import About from '../components/About.astro'
import FAQ from '../components/FAQ.astro'
import News from '../components/News.astro'
import Footer from '../components/Footer.astro'
---

<BaseLayout>
  <div class="page-wrapper">
    <Nav />
    <main class="main-wrapper">
      <Hero />
      <Work />
      <Approach />
      <Capabilities />
      <About />
      <FAQ />
      <News />
    </main>
    <Footer />
  </div>
</BaseLayout>
