---
interface Props {
  label: string
  subtitle?: string
  description?: string
  backgroundImage: string
}
const { label, subtitle, description, backgroundImage } = Astro.props
---

<div class="section-header-01_component section-header-image">
  <div class="z-index-2">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="section-header-image_main-wrapper">
            <h2
              class="heading-style-h1"
              data-anim="blur-fade"
            >{label}</h2>
            {subtitle && (
              <div
                class="text-style-section-subtitle text-color-grey"
                data-anim="blur-fade"
                data-anim-delay="0.1"
              >{subtitle}</div>
            )}
            {description && (
              <div class="spacer-small"></div>
              <div class="max-width-medium">
                <p
                  class="text-color-grey"
                  data-anim="blur-fade"
                  data-anim-delay="0.2"
                >{description}</p>
              </div>
            )}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header_background-wrapper">
    <img src={backgroundImage} loading="lazy" alt="" class="image-absolute" />
    <div class="section-header_background-overlay"></div>
  </div>
</div>

<style>
  .section-header-image_main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50%;
  }

  @media screen and (max-width: 767px) {
    .section-header-image_main-wrapper {
      max-width: 100%;
    }
  }
</style>
