---
/* Patrón que se repite en Work, Approach, Capabilities, News */
interface Props {
  label: string
  subtitle?: string
  description?: string
  variant?: 'base'
}
const { label, subtitle, description, variant = 'base' } = Astro.props
---

<div
  data-wf--component-section-header--variant={variant}
  class="section-header-01_component"
>
  <div class="z-index-2">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-medium">
          <div class="section-header-01_main-wrapper">
            <div class="section-header-01_left-content">
              <h2 class="heading-style-h1">{label}</h2>
              {subtitle && <div class="text-color-grey">{subtitle}</div>}
            </div>
            <div class="section-header-01_spacer"></div>
            {description && (
              <div class="section-header-01_right-wrapper">
                <div class="max-width-medium">
                  <p class="text-color-grey">{description}</p>
                </div>
              </div>
            )}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
